<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>Controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductServlet</servlet-name>
        <servlet-class>Controller.AdminProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectedItem</servlet-name>
        <servlet-class>Controller.SelectedItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>Controller.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShoppingCart</servlet-name>
        <servlet-class>Controller.ViewShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveShoppingCartItem</servlet-name>
        <servlet-class>Controller.RemoveShoppingCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>Controller.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>Controller.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProduct</servlet-name>
        <servlet-class>Controller.ViewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveComment</servlet-name>
        <servlet-class>Controller.SaveComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Controller.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductServlet</servlet-name>
        <url-pattern>/AdminProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectedItem</servlet-name>
        <url-pattern>/SelectedItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShoppingCart</servlet-name>
        <url-pattern>/ViewShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveShoppingCartItem</servlet-name>
        <url-pattern>/RemoveShoppingCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProduct</servlet-name>
        <url-pattern>/ViewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveComment</servlet-name>
        <url-pattern>/SaveComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
